extends layout

block content
  h1 Students
  a(href="/add") Add Student
  table(border="1")
    tr
      th Name
      th Marks
      th CGPA
      th Actions
    each s in students
      tr
        td= s.name
        td= s.marks
        td= s.cgpa
        td
          a(href=`/edit/${s._id}`) Edit
          |  
          a(href=`/delete/${s._id}`) Delete
